
@{
    ViewBag.Title = "FAQ";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelFactory-FAQ</title>
     <link href="~/assets/css/demo1/pages/faq/faq-1.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <!--begin::Portlet-->
        <div class="kt-portlet kt-faq-v1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        UNDERSTANDING HelpFactory
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample1">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        What is HelpFactory
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            HelpFactory is a trusted online community, a website and a mobile app where people can find solution for all their needs. HelpFactory connects people who need to outsource their tasks with the people who are looking to earn extra money and ready to work.
                                        </p>
                                        <p>
                                            Just follow 3 simple steps and you are all done to get things off your to-do list.
                                        </p>
                                        <p>
                                            1- Details about the task you need help with, set fair budget <br />
                                            2- Choose the best candidate for your job by view his/her profile and reviews.<br />
                                            3- Choose your payment options and you are all done
                                        </p>
                                        <p>
                                            HelpFactory can help you to complete all of your home and office based tasks. You can post anything what you need help with, you can post online and physical tasks such as home cleaning, admin work, photography, web designing, handyman jobs, etc.
                                        </p>
                                        <p>
                                            Register your free account or download our app today and let HelpFactory help you to get anything done.
                                        </p>
                                        <p>
                                            Please visit How it Works page for more details
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        What type of tasks can I get done with HelpFactory?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            On HelpFactory, you can post whatever you need, lets say if you need a cleaner for your home cleaning or you are looking for someone who can help you to complete your business tasks, just tell us about your task, set a fair budget and you’ll start to receive offers from taskers shortly.
                                        </p>
                                        <p>
                                            From indoor to outdoor, simple to complicated almost all ethical tasks can be posted on HelpFactory.
                                        </p>
                                        <p>
                                            From indoor to outdoor, simple to complicated almost all ethical tasks can be posted on HelpFactory.
                                        </p>
                                        <p>
                                            Don’t Worry you don't need to pay any penny, yes it's totally free to post a task We just need you to follow the guidelines when you posting a task to create a safe, respectful and rewarding environment.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        Who is a Vender in HelpFactory?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            A person who can complete tasks for other people within the HelpFactory community is a Tasker. Even you can be a tasker and a poster at the same time if you need some help post a task or if you want to earn extra money and ready to work just post an offer on task with same account.
                                        </p>
                                        <p>
                                            Simply create an account verify yourself and start browsing tasks find the task which you can complete. Make an offer to that task and tell the poster why you are the best candidate to complete this task. If the task has been assigned to you, you will be able to start conversation with poster via private messaging.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        Who is a Poster?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            A poster is a person who is looking help to complete their task, whether the task is in-person or online.
                                        </p>
                                        <p>
                                            Simply create an account and post your task just in three steps, its totally free to post a task. Just follow 3 simple steps and you are all done to get things off your to-do list. Details about the task you need help with, set fair budget, choose the best candidate for your job by view his/her profile and reviews. Choose your payment option and you are all done.
                                        </p>
                                        <p>
                                            When the offer is accepted, you will need to add funds securely to HelpFactory's account which are held securely in HelpFactory's account until your task is completed. Once the offer is accepted, you can now send a private message to the tasker and discuss about the task.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                        Impact on buyers who bought before the new item support policy.
                                    </div>
                                </div>
                                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        </p>
                                        <p>
                                            Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree1">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                        Extending and Renewing Item Support.
                                    </div>
                                </div>
                                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        </p>
                                        <p>
                                            Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet kt-faq-v1">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        POST A TASK
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample1">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        What is HelpFactory
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            HelpFactory is a trusted online community, a website and a mobile app where people can find solution for all their needs. HelpFactory connects people who need to outsource their tasks with the people who are looking to earn extra money and ready to work.
                                        </p>
                                        <p>
                                            Just follow 3 simple steps and you are all done to get things off your to-do list.
                                        </p>
                                        <p>
                                            1- Details about the task you need help with, set fair budget <br />
                                            2- Choose the best candidate for your job by view his/her profile and reviews.<br />
                                            3- Choose your payment options and you are all done
                                        </p>
                                        <p>
                                            HelpFactory can help you to complete all of your home and office based tasks. You can post anything what you need help with, you can post online and physical tasks such as home cleaning, admin work, photography, web designing, handyman jobs, etc.
                                        </p>
                                        <p>
                                            Register your free account or download our app today and let HelpFactory help you to get anything done.
                                        </p>
                                        <p>
                                            Please visit How it Works page for more details
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        What type of tasks can I get done with HelpFactory?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            On HelpFactory, you can post whatever you need, lets say if you need a cleaner for your home cleaning or you are looking for someone who can help you to complete your business tasks, just tell us about your task, set a fair budget and you’ll start to receive offers from taskers shortly.
                                        </p>
                                        <p>
                                            From indoor to outdoor, simple to complicated almost all ethical tasks can be posted on HelpFactory.
                                        </p>
                                        <p>
                                            From indoor to outdoor, simple to complicated almost all ethical tasks can be posted on HelpFactory.
                                        </p>
                                        <p>
                                            Don’t Worry you don't need to pay any penny, yes it's totally free to post a task We just need you to follow the guidelines when you posting a task to create a safe, respectful and rewarding environment.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        Who is a Vender in HelpFactory?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            A person who can complete tasks for other people within the HelpFactory community is a Tasker. Even you can be a tasker and a poster at the same time if you need some help post a task or if you want to earn extra money and ready to work just post an offer on task with same account.
                                        </p>
                                        <p>
                                            Simply create an account verify yourself and start browsing tasks find the task which you can complete. Make an offer to that task and tell the poster why you are the best candidate to complete this task. If the task has been assigned to you, you will be able to start conversation with poster via private messaging.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        Who is a Poster?
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <p>
                                            A poster is a person who is looking help to complete their task, whether the task is in-person or online.
                                        </p>
                                        <p>
                                            Simply create an account and post your task just in three steps, its totally free to post a task. Just follow 3 simple steps and you are all done to get things off your to-do list. Details about the task you need help with, set fair budget, choose the best candidate for your job by view his/her profile and reviews. Choose your payment option and you are all done.
                                        </p>
                                        <p>
                                            When the offer is accepted, you will need to add funds securely to HelpFactory's account which are held securely in HelpFactory's account until your task is completed. Once the offer is accepted, you can now send a private message to the tasker and discuss about the task.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                        Impact on buyers who bought before the new item support policy.
                                    </div>
                                </div>
                                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        </p>
                                        <p>
                                            Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree1">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                        Extending and Renewing Item Support.
                                    </div>
                                </div>
                                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                        </p>
                                        <p>
                                            Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                        <p>
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Portlet-->
    </div>

    <!-- end:: Content -->

</body>
</html>

