
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    <link href="~/assets/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/demo1/skins/header/base/dark.css" rel="stylesheet" />
    <link href="~/assets/css/demo1/skins/header/menu/dark.css" rel="stylesheet" />
    <link href="~/assets/css/demo1/pages/error/error-1.min.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../assets/media/error/bg1.jpg');">
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1">
            <div class="kt-error-v1__container">
                <h1 class="kt-error-v1__number">404</h1>
                <p class="kt-error-v1__desc">
                    OOPS! Something went wrong here
                </p>
            </div>
        </div>
    </div>
</body>

</html>
